@import '~@angular/material/theming';
@include mat-core();
$custon-theme-primary: mat-palette($mat-teal, 900);
$custon-theme-secondary:  mat-palette($mat-deep-orange, 900);

$custom-theme: mat-light-theme($custon-theme-primary, $custon-theme-secondary);
@include angular-material-theme($custom-theme);