@import '~@angular/material/theming';
@include mat-core();
$custon-theme-primary: mat-palette($mat-grey, 900);
$custon-theme-accent:  mat-palette($mat-indigo);

$custom-theme: mat-light-theme($custon-theme-primary, $custon-theme-accent);
@include angular-material-theme($custom-theme);