$primary: #3f51b5;
$green: #388E3C;
$blue-grey-lighten-4: #CFD8DC;
$blue-grey-lighten-3: #B0BEC5;
$blue-grey-lighten-2: #90A4AE;
$blue-grey-lighten-1: #78909C;
$blue-grey: #607D8B;
$blue-grey-darken-1: #546E7A;
$blue-grey-darken-2: #455A64;
$teal-lighten-1: #26A69A;
$teal: #009688;
$teal-darken-1: #00897b;
$teal-darken-2: #00796B;
$teal-darken-4: #004d40;
$teal-lighten-5: #e0f2f1;
$red: #F44336;
$dark: #212121;

$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;

$nav-header-h2-xs: 1.5rem;
$nav-header-h2-sm: 1.9rem;
$nav-header-h2-md: 2.3rem;
$nav-header-h2-lg: 2.7rem;
$nav-header-h2-xl: 3.1rem;

$card-header-h3-xs:  1rem;
$card-header-h3-sm:  1.3125rem;
$card-header-h3-md:  1.625rem;
$card-header-h3-lg:  1.9375rem;
$card-header-h3-xl:  2.25rem;