$primary: #3F51B5;
$dark: #212121;

$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;

$nav-header: 24px;
$nav-header-md: 3.5vw;
$nav-header-xl: 3vw;

$card-header-list:  16px;
$card-header-list-md:  2.5vw;
$card-header-list-xl: 2vw;