@import "../../../../variables.scss";

td{
    vertical-align: middle;

    a{
        color: $dark;
        font-size: 20px;
    }
}

#no-border-td{
    border-top: none;
    vertical-align: top;
}

.logo{
    display: none;
}

.screen-md-table{
    display: none;
}

@media (min-width: $screen-size-md) {
    .screen-md-table{
        display: table-cell;
    }
    .screen-sm-table{
        display: none;
    }
}

@media (min-width: $screen-size-lg) {
    .circle { 
        width: 50px;
        height: 50px;
        background: $primary;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: table-cell; vertical-align: middle;
    }
    .logo{
        display: inline-block;
        width: 33.33334px;
        height: 33.33334px;
    }
}

@media (min-width: $screen-size-xl) {
    .circle{
        width: 60px;
        height: 60px;
    }
    .logo{
        display: inline-block;
        width: 40px;
        height: 40px;
    }
}