<tr>
  <td rowspan="2">
      <mat-checkbox color="accent" value={{company.id}} (change)="showChbox()"></mat-checkbox>
      <!--<input type="checkbox" value={{company.id}} (change)="showChbox()">-->
  </td>
  <td rowspan="2" class="screen-md-table" *ngIf="company.logo!=''">
    <div class="circle text-center text-white">
      <img src={{company.logo}} class="logo" alt="logo">
    </div>
  </td>
  <td rowspan="2" class="screen-md-table" *ngIf="company.logo==''">
    <div class="circle text-center text-white">
      <h3 class="m-0 p-0">{{company.name.slice(0,1)}}</h3>
    </div>
  </td>
  <td>
    <strong>{{company.name}}</strong>
  </td>
  <td rowspan="2" class="screen-md-table">{{company.phone}}</td>
  <td rowspan="2" class="screen-md-table">{{company.email}}</td>
  <td rowspan="2" class="screen-sm-table">
    <a href="tel:{{company.phone}}"><span><i class="fa fa-phone"></i></span></a>
  </td>
  <td rowspan="2" class="screen-sm-table">
    <a href="mailto:{{company.email}}"><span><i class="fa fa-envelope"></i></span></a>
  </td>
  <td rowspan="2">
    <button class="btn btn-outline-primary btn-sm" (click)="navigateToDetail(company.id)">
      <i class="fa fa-angle-double-right"></i> Részletek
    </button>
  </td>
</tr>
<tr>
  <td class="screen-md-table" id="no-border-td">
    <span>
      {{company.country_code}}<span *ngIf="company.country_code && company.hq_zipcode">-</span>{{company.hq_zipcode}} 
      {{company.hq_settlement}}<span *ngIf="company.hq_settlement && company.hq_address">, </span>
      {{company.hq_address}}
    </span>
  </td>
</tr>
