<section id="project-edit">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card my-5">
					<div class="card-header bg-teal-darken-1 text-white">
						<h3 class="card-header-h3" *ngIf="!edit; else editblock">Új Projekt</h3>
						<ng-template #editblock>
							<h3 class="card-header-h3" *ngIf="!projectService.isLoading && project; else noheader">{{project.name}} Szerkesztése</h3>
							<ng-template #noheader><h3 class="card-header-h3">...</h3></ng-template>
						</ng-template>
					</div>
					<div class="card-body">
						<mat-spinner [diameter]="40" *ngIf="projectService.isLoading || !project; else elseBlock">
						</mat-spinner>
						<ng-template #elseBlock>
							<div class="row">
								<form class="edit-form" [formGroup]="projectForm" (ngSubmit)="onSubmit(project)">
									<mat-form-field color="accent">
										<input matInput [(ngModel)]="project.name" formControlName="projectName" placeholder="Név*">
									</mat-form-field>
									<mat-error *ngIf="!projectForm.controls['projectName'].valid && projectForm.controls['projectName'].touched">
										A név mező megadása <strong>kötelező</strong>!
									</mat-error>
									<mat-form-field color="accent">
										<textarea matInput [(ngModel)]="project.description" formControlName="projectDescription" placeholder="Leírás" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
									</mat-form-field>
									<mat-form-field color="accent">
										<mat-select [(ngModel)]="project.company" (change)="companyChanged = true" [ngModelOptions]="{standalone: true}" name="projectCompany" placeholder="Cég" multiple>
											<mat-option *ngFor="let company of companyService.getItems()" [value]="company.id">{{company.name}}</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field color="accent">
										<mat-select [(ngModel)]="project.contact" name="projectCompany" placeholder="Névjegy" multiple>
											<mat-option *ngFor="let company of companyService.getItems()" [value]="company">{{company.name}}</mat-option>
										</mat-select>
									</mat-form-field>
									<input class="owl-date-input my-2" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Dátum beállítása">
									<owl-date-time #dt1></owl-date-time>
									<mat-form-field color="accent">
										<input matInput [(ngModel)]="project.status" formControlName="projectStatus" placeholder="Státusz">
									</mat-form-field>	
									<mat-form-field color="accent">
										<input matInput [(ngModel)]="project.priority" formControlName="projectPriority" placeholder="Prioritás">
									</mat-form-field>
									<mat-form-field color="accent">
										<input matInput [(ngModel)]="project.currency" formControlName="projectCurrency" placeholder="Pénznem">
									</mat-form-field>
									<mat-form-field color="accent">
										<input type="number" matInput [(ngModel)]="project.income" formControlName="projectIncome" placeholder="Bevétel">
									</mat-form-field>
									<mat-error *ngIf="!projectForm.controls['projectIncome'].valid && projectForm.controls['projectIncome'].touched">
										Nem megfelelő formátum!
									</mat-error>	
									<mat-form-field color="accent">
										<input type="number" matInput [(ngModel)]="project.expenditure" formControlName="projectExpenditure" placeholder="Kiadás">
									</mat-form-field>
									<mat-error *ngIf="!projectForm.controls['projectExpenditure'].valid && projectForm.controls['projectExpenditure'].touched">
										Nem megfelelő formátum!
									</mat-error>
									<div class="row mx-2 mt-5">
										<div class="col-md-6 col-sm-4 col-0"></div>
										<div class="col-md-3 col-sm-4 col-6">
											<button class="btn btn-grey btn-block" (click)="navigateBack()">Mégse</button>
										</div>
										<div class="col-md-3 col-sm-4 col-6">
											<button type="submit" [disabled]="!projectForm.valid" class="btn deep-orange deep-orange darken-4 btn-block">
												Mentés
											</button>
										</div>				
									</div>
								</form>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>