<form class="panel panel-default" [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
	<div class="panel-heading" color="primary">Regisztráció</div>
	<div  class="panel-body">
		<div class="inputfield">	
			<mat-form-field class="matffield">
			    <input matInput formControlName="resetPassEmail" placeholder="E-mail-cím*">
		  	</mat-form-field>
		  	<mat-error *ngIf="resetPassForm.controls['resetPassEmail'].hasError('required') && resetPassForm.controls['resetPassEmail'].touched">
		      Az e-mail-cím mező megadása <strong>kötelező</strong>!
		    </mat-error>
		    <mat-error *ngIf="resetPassForm.controls['resetPassEmail'].hasError('pattern') && resetPassForm.controls['resetPassEmail'].touched">
		      Nem megfelelő e-mail-cím!
		    </mat-error>
		</div>
		<div class="btn_primary">
			<button type="submit" mat-raised-button color="primary">Jelszó visszaállítás</button>
		</div>
	</div>
</form>