@import "../../variables.scss";
@import "../../default-styles.scss";

.screen-md{
    display: none;
}

.screen-md-span{
    display: none;
}

.screen-lg-span{
    display: none;
}

#company-header{
    font-size: $nav-header;
}

#card-header-list{
    font-size: $card-header-list;
}

@media (min-width: $screen-size-md){
    .screen-sm{
        display: none;
    }

    .screen-md{
        display: block;
    }

    .screen-md-span{
        display: inline-block;
    }

    #company-header{
        font-size: $nav-header-md;
    }

    #card-header-list{
        font-size: $card-header-list-md;
    }
}

@media (min-width: $screen-size-lg){
    .screen-md-span{
        display: none;
    }
    .screen-lg-span{
        display: inline-block;
    }
}

@media (min-width: $screen-size-xl) {
    #company-header{
        font-size: $nav-header-xl;
    }

    #card-header-list{
        font-size: $card-header-list-xl;
    }
}