<header id="main-header" class="py-3 bg-teal-darken-2 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="nav-header"><i class="fa fa-industry"></i> Cégek</h2>
            </div>
        </div>
    </div>
</header>

<section id="companies">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-5">
                    <div class="card-header bg-teal-darken-4 text-white">
                        <div class="row card-header-row">
                            <div class="col-md-4 col-lg-6">
                                <h3 class="card-header-h3">Cégek Listája</h3>
                            </div>
                            <div class="col-md-4 col-lg-3 card-header-button-md">
                                <a routerLink="/company/new" class="btn btn-deep-orange deep-orange darken-4 btn-block card-header-button">
                                    <i class="fa fa-plus"></i> Új hozzáadása
                                </a>
                            </div>
                            <div class="col-md-4 col-lg-3 card-header-button-md">
                                <button class="btn btn-outline-deep-orange-darken-4 btn-block card-header-button waves-effect" data-toggle="modal" data-target="#addInstantModal">
                                    <i class="fa fa-bolt"></i> 
                                    <span class="card-header-button-span-md">Új hozzáadása</span>
                                    <span class="card-header-button-span-xl">Új hozzáadása instant</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center p-0">
                        <mat-spinner [diameter]="40" color="primary" *ngIf="companyService.isLoading; else elseBlockOne"></mat-spinner>
                        <ng-template #elseBlockOne>
                            <div *ngIf="!companyService.getItems() || companyService.getItems().length < 1; else elseBlockTwo">
                                <h1 class="py-5">Nincs megadva egyetlen cég sem</h1>
                                <p class="mx-5">
                                    A munka megkezdése előtt ajánlott felvinned legalább egy céget,
                                    amihez a rendszer társítani tudja majd a feladatokat, névjegyeket és a többi
                                    információt.
                                </p>
                                <p class="mx-5">
                                    Nem kötelező, de ajánlott.
                                </p>
                            </div>
                            <ng-template #elseBlockTwo>
                                <app-company-list></app-company-list>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>
                <div class="row" *ngIf="companyService.getItems() && companyService.getItems().length > 0">
                    <div class="col-sm-5 card-header-button-sm pb-2">
                        <a routerLink="/company/new" class="btn btn-deep-orange deep-orange darken-4 btn-block">
                            <i class="fa fa-plus"></i> Új hozzáadása
                        </a>
                    </div>
                    <div class="col-sm-7 card-header-button-sm">
                        <button class="btn btn-outline-deep-orange-darken-4 btn-block waves-effect"  data-toggle="modal" data-target="#addInstantModal">
                            <i class="fa fa-bolt"></i> <span>Új hozzáadása instant</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="fabbuton" *ngIf="checkedArray.length > 0">
        <button mat-fab [matMenuTriggerFor]="menu" color="accent" >
            <mat-icon aria-hidden="true">clear</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button style="outline: none;" mat-menu-item>
                <mat-icon class="fa fa-file"></mat-icon>
                <span>Új feladat</span>
            </button>
            <button mat-menu-item (click)="navigateToNewProject()">
                <mat-icon class="fa fa-folder"></mat-icon>
                <span>Új projekt</span>
            </button>
            <button mat-menu-item (click)="navigateToNewContact()">
                <mat-icon class="fa fa-user-plus"></mat-icon>
                <span>Új felhasználó</span>
            </button>
            <button mat-menu-item [disabled]="checkedArray.length>1" (click)="navigateToEdit()">
                <mat-icon class="fa fa-pencil"></mat-icon>
                <span>Szerkesztés</span>
            </button>
            <button mat-menu-item data-toggle="modal" data-target="#deleteItemModal" >
                <mat-icon class="fa fa-trash"></mat-icon>
                <span>Törlés</span>
            </button>
        </mat-menu>
    </section>
</section>


<div class="modal fade" id="addInstantModal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-teal-darken-4 text-white">
                <h5 class="modal-title">Új cég hozzáadása instant</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form #f="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <mat-form-field>
                            <input #companyName matInput name="companyName" placeholder="Cég neve" ngModel required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="modal-footer bg-teal-lighten-5">
                    <button class="btn btn-grey" data-dismiss="modal">Bezár</button>
                    <button class="btn btn-deep-orange deep-orange darken-4" (click)="onSubmit(f)" type="submit" [disabled]="!f.valid" data-dismiss="modal">
                        Hozzáadás
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<delete-dialog class="modal fade" id="deleteItemModal" (clickEvent)="clickOnDeleteProductButton()" data-backdrop="false">
</delete-dialog>