<section id="signin">
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col-10 col-sm-8">
				<div class="card my-5">
					<div class="card-header bg-teal-darken-4 text-white">
						<div class="row card-header-row">
							<h3 class="card-header-h3 pl-3">Bejelentkezés</h3>
						</div>
					</div>
					<div class="card-body">
						<form [formGroup]="loginForm" (ngSubmit)="onSignin()">
							<div class="row">
								<div class="col"></div>
								<div class="col-12 col-sm-8">
									<mat-form-field class="matffield">
										<input matInput formControlName="loginEmail" placeholder="E-mail-cím*">
									</mat-form-field>
									<mat-error *ngIf="loginForm.controls['loginEmail'].hasError('required') && loginForm.controls['loginEmail'].touched">
										Az e-mail-cím mező megadása <strong>kötelező</strong>!
									</mat-error>
									<mat-form-field class="matffield">
										<input matInput formControlName="loginPassword" placeholder="Írja be jelszavát*" [type]="hide ? 'password' : 'text'">
										<mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">
											{{hide ? 'visibility_off' : 'visibility'}}
										</mat-icon>
									</mat-form-field>
									<mat-error *ngIf="!loginForm.controls['loginPassword'].valid && loginForm.controls['loginPassword'].touched">
											A jelszó megadása <strong>kötelező</strong>!
									</mat-error>
									<p class="text-danger">{{error}}</p>
								</div>
								<div class="col"></div>
							</div>
							<div class="row">
								<div class="col-1"></div>
								<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
									<button type="submit" class="btn btn-deep-orange deep-orange darken-4 btn-block">
										Bejelentkezés
									</button>
								</div>
								<div class="col"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
</section>