@import "../../../default-styles.scss";
@import "../../../variables.scss";

footer{
    position: relative;
    width: 100%;
    padding-bottom: 1.95rem !important;
}

.bg-teal-darken-5{
    background-color: #002F27;
}

.lead{
    font-size: 0.5rem;
}

@media (min-width: $screen-size-md){
    .lead{
        font-size: 0.75rem;
    }
}