<div class="table-responsive">
  <table class="table">
    <thead class="thead-md">
      <tr>
        <th></th>
        <th><h4>Név</h4></th>
        <th><h4>Határidő</h4></th>
        <th ><h4>Bevétel</h4></th>
        <th><h4>Kiadás</h4></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let project of projectService.getItems()" [ngStyle]="{'background-color': getBackgroundColor(project), 'color': getColor(project)}" app-project-item [project]="project">
    </tbody>
  </table>
</div>