@import "../../../variables.scss";
@import "../../../default-styles.scss";

.redClass{
    background-color: #ffe6e6;
}

.yellowClass{
    background-color: lightgoldenrodyellow;
}

.greyClass{
    background-color: #eee;
    color: #aaa;
}