<!-- <mat-spinner *ngIf="contactService.isLoading || !contact"></mat-spinner>
<form *ngIf="!contactService.isLoading && contact" class="panel panel-default">
  <div class="panel-heading" color="primary">{{contact.full_name}}</div>
  <div  class="panel-body">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Név</th>
            <th>Telefon</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong class="company_name">{{contact.full_name}}</strong>
            </td>
            <td>
              {{contact.phone}}
            </td>
            <td>
              {{contact.email}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div>
      <div id="wide">
        <div>
          <h3>Feladatok</h3>
        </div>
      </div>
      <div id="narrow">
        <div>
          <h3>Cégek</h3>
          <p *ngFor="let company of companyService.getCertainItems(contact)">
              <a mat-list-item class="linkTo" routerLink="/company/shown/{{company.id}}" routerLinkActive="active">
                {{company.name}}
              </a>
            </p>
        </div>
        <hr>
        <div class="projects">
          <h3>Projektek</h3>
          <p *ngFor="let pfc of projectService.getCertainItems(contact)">
            <a href="/project/shown/{{pfc.project.id}}">{{pfc.project.name}}</a>
            - <span *ngFor="let rank of pfc.ranks; let isLast = last">
              {{rank}}{{isLast ? '' : ', '}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="botton_right">
    <button mat-fab [matMenuTriggerFor]="menu" color="primary">
      <mat-icon class="fa fa-bolt fa-lg" aria-hidden="true"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon class="fa fa-file"></mat-icon>
          <span>Új feladat</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="project">
          <mat-icon class="fa fa-folder"></mat-icon>
          <span>Új projekt</span>
        </button>
        <button mat-menu-item (click)="createNewCompany()">
          <mat-icon class="fa fa-industry"></mat-icon>
          <span>Új cég</span>
        </button>
        <button mat-menu-item (click)="navigateToEdit()">
          <mat-icon class="fa fa-pencil"></mat-icon>
          <span>Szerkesztés</span>
        </button>
        <button mat-menu-item (click)="clickOnDeleteProductButton()">
          <mat-icon class="fa fa-trash"></mat-icon>
          <span>Törlés</span>
        </button>
    </mat-menu>
    <mat-menu #project="matMenu">
      <button mat-menu-item (click)="createNewProject(0)">
        <mat-icon class="fa fa-folder"></mat-icon>
        <span>Mint felelős</span>
      </button>
      <button mat-menu-item (click)="createNewProject(1)">
        <mat-icon class="fa fa-folder"></mat-icon>
        <span>Mint tulajdonos</span>
      </button>
      <button mat-menu-item (click)="createNewProject(2)">
        <mat-icon class="fa fa-folder"></mat-icon>
        <span>Mint megfigyelő</span>
      </button>
      <button mat-menu-item (click)="createNewProject(3)">
        <mat-icon class="fa fa-folder"></mat-icon>
        <span>Mint résztvevő</span>
      </button>
    </mat-menu>
  </div>
</form>
<div id="back">
	<button mat-raised-button color="primary" (click)="navigateBack()">Vissza</button>
</div> -->

<section id="contact-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="card my-5">
            <div class="card-header bg-teal-darken-1 text-white">
              <h3 *ngIf="!contactService.isLoading && contact; else noheader" class="card-header-h3">{{contact.full_name}} részletei</h3>
              <ng-template #noheader><h3 class="card-header-h3">...</h3></ng-template>
            </div>
            <div class="card-body">
              <mat-spinner *ngIf="contactService.isLoading || !contact; else elseBlock"></mat-spinner>
              <ng-template #elseBlock>
              <div class="row">
                <div class="col-12 text-center">
                  <h3 class="py-3">
                    {{contact.full_name}} '{{contact.nickname}}'
                  </h3>
                  <p>
                    <a href="tel:{{contact.phone}}" class="text-dark">
                      <span><i class="fa fa-phone"></i></span> {{contact.phone}}
                    </a>
                  </p>
                  <p class="pb-3">
                    <a href="mailto:{{contact.email}}" class="text-dark">
                      <span><i class="fa fa-envelope"></i></span> {{contact.email}}
                    </a>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <h3>Cégek</h3>
                  <ul>
                    <li *ngFor="let company of companyService.getCertainItems(contact)">
                        <a mat-list-item routerLink="/company/shown/{{company.id}}">
                          {{company.name}}
                        </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h3>Projektek</h3>
                  <ul>
                    <li *ngFor="let pfc of projectService.getCertainItems(contact)">
                      <a href="/project/shown/{{pfc.project.id}}">{{pfc.project.name}}</a> - 
                      <span *ngFor="let rank of pfc.ranks; let isLast = last">
                        {{rank}}{{isLast ? '' : ', '}}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
            </div>
            <div class="card-footer bg-teal-lighten-5">
              <div class="row">
                <div class="col-lg-2 col-6 col-sm-4 col-md-3">
                  <a routerLink="../../" class="btn deep-orange deep-orange darken-4 btn-block">Vissza</a>
                </div>
              </div>
            </div>
          </div>
          <delete-dialog class="modal fade" id="deleteItemModal"
          (clickEvent)="clickOnDeleteProductButton(contact)" data-backdrop="false">
          </delete-dialog>
      </div>
    </div>
  </div>
</section>

<section id="fabbuton">
  <button mat-fab [matMenuTriggerFor]="menu" color="accent" >
    <mat-icon aria-hidden="true">clear</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="project">
      <mat-icon class="fa fa-folder"></mat-icon>
      <span>Új projekt</span>
    </button>
    <button mat-menu-item (click)="createNewCompany()">
      <mat-icon class="fa fa-industry"></mat-icon>
      <span>Új cég</span>
    </button>
    <button mat-menu-item (click)="navigateToEdit()">
      <mat-icon class="fa fa-pencil"></mat-icon>
      <span>Szerkesztés</span>
    </button>
    <button mat-menu-item data-toggle="modal" data-target="#deleteItemModal">
      <mat-icon class="fa fa-trash"></mat-icon>
      <span>Törlés</span>
    </button>
  </mat-menu>
  <mat-menu #project="matMenu">
    <button mat-menu-item (click)="createNewProject(0)">
      <mat-icon class="fa fa-folder"></mat-icon>
      <span>Mint felelős</span>
    </button>
    <button mat-menu-item (click)="createNewProject(1)">
      <mat-icon class="fa fa-folder"></mat-icon>
      <span>Mint tulajdonos</span>
    </button>
    <button mat-menu-item (click)="createNewProject(2)">
      <mat-icon class="fa fa-folder"></mat-icon>
      <span>Mint megfigyelő</span>
    </button>
    <button mat-menu-item (click)="createNewProject(3)">
      <mat-icon class="fa fa-folder"></mat-icon>
      <span>Mint résztvevő</span>
    </button>
  </mat-menu>
</section>