@import "../../../variables.scss";
@import "../../../default-styles.scss";

.th-lg{
    display: none;
}

@media (min-width: $screen-size-lg) {
    .th-lg{
        display: table-cell;
        min-width: 8%;
    }
}