<section id="company-detail">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card my-5">
					<div class="card-header bg-teal-darken-1 text-white">
						<h3 *ngIf="!companyService.isLoading && company; else noheader" class="card-header-h3">{{company.name}} részletei</h3>
						<ng-template #noheader><h3 class="card-header-h3">...</h3></ng-template>
					</div>
					<div class="card-body">
						<mat-spinner [diameter]="40" *ngIf="companyService.isLoading || !company; else elseBlock"></mat-spinner>
						<ng-template #elseBlock>
							<div class="row">
								<div class="col-md-3 text-center">
									<img *ngIf="company.logo!=''" src={{company.logo}} alt="logo" width="135" height="135">
									<h3 class="card-title pt-3">{{company.name}}</h3>
								</div>
								<div class="col"></div>
								<div class="col-md-8">
									<p>
										<a href="tel:{{company.phone}}" class="text-dark">
											<span><i class="fa fa-phone"></i></span> {{company.phone}}
										</a>
									</p>
									<p>
										<a href="mailto:{{company.email}}" class="text-dark">
											<span><i class="fa fa-envelope"></i></span> {{company.email}}
										</a>
									</p>
									<p>
										<i class="fa fa-map-marker"></i>
										{{company.hq_country}} {{company.hq_zipcode}} {{company.hq_settlement}}<span *ngIf="(company.hq_country || company.hq_zipcode || company.hq_settlement) || company.hq_address">, </span>
										{{company.hq_address}}
									</p>
									<p>
										<i class="fa fa-usd"></i>
										{{company.bi_country}} {{company.bi_zipcode}} {{company.bi_settlement}}<span *ngIf="(company.hq_country || company.hq_zipcode || company.hq_settlement) || company.hq_address">, </span> 
										{{company.bi_address}}
									</p>
									<p>
										<i class="fa fa-envelope"></i>
										{{company.mail_country}} {{company.mail_zipcode}} {{company.mail_settlement}}<span *ngIf="(company.hq_country || company.hq_zipcode || company.hq_settlement) || company.hq_address">, </span>
										{{company.mail_address}}
									</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<h3>Projektek</h3>
									<ul>
										<li *ngFor="let project of projectService.getCertainItems(company)">
											<a mat-list-item routerLink="/project/shown/{{project.id}}">
												{{project.name}}
											</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<h3>Névjegyek</h3>
									<ul>
										<li *ngFor="let contact of contactService.getCertainItems(company)">
											<a mat-list-item routerLink="/people/shown/{{contact.id}}">
												{{contact.full_name}}
											</a>
										</li>
									</ul>
								</div>
							</div>
						</ng-template>
					</div>
					<div class="card-footer bg-teal-lighten-5">
						<div class="row">
							<div class="col-lg-2 col-6 col-sm-4 col-md-3">
								<a routerLink="../../" class="btn btn-deep-orange deep-orange darken-4 btn-block">Vissza</a>
							</div>
						</div>
					</div>
				</div>
				<delete-dialog class="modal fade" id="deleteItemModal" (clickEvent)="clickOnDeleteProductButton(company)" data-backdrop="false">
				</delete-dialog>
			</div>
		</div>
	</div>
</section>

<section id="fabbuton">
	<button mat-fab [matMenuTriggerFor]="menu" color="accent" >
		<mat-icon aria-hidden="true">clear</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon class="fa fa-file"></mat-icon>
			<span>Új feladat</span>
		</button>
		<button mat-menu-item (click)="createNewProject()">
			<mat-icon class="fa fa-folder"></mat-icon>
			<span>Új projekt</span>
		</button>
		<button mat-menu-item (click)="createNewContact()">
			<mat-icon class="fa fa-user-plus"></mat-icon>
			<span>Új felhasználó</span>
		</button>
		<button mat-menu-item (click)="navigateToEdit()">
			<mat-icon class="fa fa-pencil"></mat-icon>
			<span>Szerkesztés</span>
		</button>
		<button mat-menu-item data-toggle="modal" data-target="#deleteItemModal">
			<mat-icon class="fa fa-trash"></mat-icon>
			<span>Törlés</span>
		</button>
	</mat-menu>
</section>