@import "../../../default-styles.scss";
@import "../../../variables.scss";

#card-header-list{
    font-size: $card-header-list;
}

@media (min-width: $screen-size-md) {
    #card-header-list{
        font-size: $card-header-list-md;
    }
}

@media (min-width: $screen-size-xl) {
    #card-header-list{
        font-size: $card-header-list-xl;
    }
}