<section id="signin">
		<div class="container">
			<div class="row">
				<div class="col"></div>
				<div class="col-10 col-sm-8">
					<div class="card my-5">
						<div class="card-header bg-teal-darken-4 text-white">
							<div class="row card-header-row">
								<h3 class="card-header-h3 pl-3">Regisztráció</h3>
							</div>
						</div>
						<div class="card-body">
							<form [formGroup]="registerForm" (ngSubmit)="onSignup()">
								<div class="row">
									<div class="col"></div>
									<div class="col-12 col-sm-8">
										<mat-form-field class="matffield">
											<input matInput formControlName="registerEmail" placeholder="E-mail-cím*">
										</mat-form-field>
										<mat-error *ngIf="registerForm.controls['registerEmail'].hasError('required') && registerForm.controls['registerEmail'].touched">
											Az e-mail-cím mező megadása <strong>kötelező</strong>!
										</mat-error>
										<mat-error *ngIf="registerForm.controls['registerEmail'].hasError('pattern') && registerForm.controls['registerEmail'].touched">
											Nem megfelelő e-mail-cím!
										</mat-error>
										<mat-form-field class="matffield">
											<input matInput formControlName="registerPassword" placeholder="Jelszó* (minimum 8 karakter, 1 nagybetű és 1 szám)" [type]="hidepass ? 'password' : 'text'">
											<mat-icon matSuffix (click)="hidepass = !hidepass" style="cursor: pointer;">
												{{hidepass ? 'visibility_off' : 'visibility'}}
											</mat-icon>
										</mat-form-field>
										<mat-error *ngIf="registerForm.controls['registerPassword'].hasError('required') && registerForm.controls['registerPassword'].touched">
											A jelszó mező megadása <strong>kötelező</strong>!
										</mat-error>
										<mat-error *ngIf="registerForm.controls['registerPassword'].hasError('pattern') && registerForm.controls['registerPassword'].touched">
											Nem megfelelő jelszó!(Legalább 8 karakter, amiből 1 nagybetűs és 1 szám)
										</mat-error>
										<mat-form-field class="matffield">
											<input matInput formControlName="registerConfirmPassword" placeholder="Erősítse meg jelszavát*" [type]="hideconfpass ? 'password' : 'text'">
											<mat-icon matSuffix (click)="hideconfpass = !hideconfpass" style="cursor: pointer;">
												{{hideconfpass ? 'visibility_off' : 'visibility'}}
											</mat-icon>
										</mat-form-field>
										<mat-error *ngIf="!registerForm.controls['registerConfirmPassword'].valid && registerForm.controls['registerConfirmPassword'].touched">
											A két jelszónak meg kell egyeznie!
										</mat-error>
									</div>
									<div class="col"></div>
								</div>
								<div class="row mt-3">
									<div class="col-1"></div>
									<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
										<button type="submit" class="btn btn-deep-orange deep-orange darken-4 btn-block">
											Regisztráció
										</button>
									</div>
									<div class="col"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</section>