@import "../../../variables.scss";
@import "../../../default-styles.scss";

.mat-checkbox-div{
    margin-left: 35px;
}

mat-form-field, mat-error{
    margin: 2px 50px 2px 50px;
}

h4{
    margin-left: 20px;
}
