<section id="company-edit">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card my-5">
					<div class="card-header bg-teal-darken-1 text-white">
					<h3 class="card-header-h3" *ngIf="!edit; else editblock">Új Cég</h3>
					<ng-template #editblock>
					<h3 class="card-header-h3" *ngIf="!companyService.isLoading && company && !companyService.isLoadingForEdit; else noheader">{{company.name}} Szerkesztése</h3>
					<ng-template #noheader><h3 class="card-header-h3">...</h3></ng-template>
					</ng-template>
					</div>
					<div class="card-body">
						<mat-spinner [diameter]="40" *ngIf="companyService.isLoading || !company || companyService.isLoadingForEdit; else elseBlock">
						</mat-spinner>
						<ng-template #elseBlock>
							<div class="row">
								<form class="edit-form" [formGroup]="companyForm" (ngSubmit)="onSubmit(company)">
									<mat-form-field>
										<input matInput type="text" [(ngModel)]="company.name" formControlName="companyName" placeholder="Név*">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyName'].valid && companyForm.controls['companyName'].touched">
										A név mező megadása <strong>kötelező</strong>!
									</mat-error>
									<mat-form-field>
										<input matInput type="tel" [(ngModel)]="company.phone" formControlName="companyPhone" placeholder="Telefonszám">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyPhone'].valid && companyForm.controls['companyPhone'].touched">
										Nem megfelelő telefonszám!
									</mat-error>
									<mat-form-field>
										<input matInput type="email" [(ngModel)]="company.email" formControlName="companyEmail" placeholder="E-mail-cím">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyEmail'].valid && companyForm.controls['companyEmail'].touched">
										Nem megfelelő e-mail-cím!
									</mat-error>
									<mat-form-field>
										<input matInput type="url" [(ngModel)]="company.website" formControlName="companyWebsite" placeholder="Weboldal">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyWebsite'].valid && companyForm.controls['companyWebsite'].touched">
										Nem megfelelő url!
									</mat-error>
									<mat-form-field>
										<input matInput type="url" [(ngModel)]="company.facebook" formControlName="companyFacebook" placeholder="Facebook">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyFacebook'].valid && companyForm.controls['companyFacebook'].touched">
										Nem megfelelő Facebook oldal!
									</mat-error>
									<hr>
									<h4 class="pb-4">Székhely adatok</h4>
									<mat-form-field>
										<mat-select formControlName="companyHqCountry" placeholder="Ország" [(ngModel)]="company.headquarter.country" (ngModelChange)="company.country_code = onChange($event)">
											<mat-option *ngFor="let country of companyService.countries" [value]="country">
												{{country.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field>
										<input matInput [(ngModel)]="company.hq_zipcode" formControlName="companyHqZipcode" placeholder="Irányítószám">
									</mat-form-field>
									<mat-form-field>
										<input matInput type="text" [(ngModel)]="company.hq_settlement" formControlName="companyHqSettlement" placeholder="Település">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyHqSettlement'].valid && companyForm.controls['companyHqSettlement'].touched">
										Nem megfelelő település!
									</mat-error>
									<mat-form-field>
										<input matInput type="text" [(ngModel)]="company.hq_address" formControlName="companyHqAddress" placeholder="Cím">
									</mat-form-field>
									<div class="mat-checkbox-div my-2" *ngIf="!edit">
										<mat-checkbox class="pr-4" [checked]="billing" (change)="billing = !billing" color="accent">
											A számlázási adatok azonosak
										</mat-checkbox>
										<mat-checkbox [checked]="mail" (change)="mail = !mail" color="accent">
											A levelezési adatok azonosak
										</mat-checkbox>
									</div>
									<hr>
									<h4 class="pb-4">Számlázási adatok</h4>
									<div *ngIf="!billing; else billingBlock">
										<mat-form-field>
											<input matInput type="text" [(ngModel)]="company.bi_name" formControlName="companyBiname" placeholder="Számlázási név">
										</mat-form-field>
										<mat-form-field>
											<mat-select formControlName="companyBiCountry" placeholder="Ország" [ngModel]="company.country_code" (ngModelChange)="company.bi_country = onChange($event)">
												<mat-option *ngFor="let country of companyService.getCountries()" [value]="country.code">
													{{country.country}}
												</mat-option>
											</mat-select>
										</mat-form-field>
										<mat-form-field>
											<input matInput [(ngModel)]="company.bi_zipcode" formControlName="companyBiZipcode" placeholder="Irányítószám">
										</mat-form-field>
										<mat-form-field>
											<input matInput type="text" [(ngModel)]="company.bi_settlement" formControlName="companyBiSettlement" placeholder="Település">
										</mat-form-field>
										<mat-error *ngIf="!companyForm.controls['companyBiSettlement'].valid && companyForm.controls['companyBiSettlement'].touched">
											Nem megfelelő település!
										</mat-error>
										<mat-form-field>
											<input matInput type="text" [(ngModel)]="company.bi_address" formControlName="companyBiAddress" placeholder="Cím">
										</mat-form-field>
									</div>
									<ng-template #billingBlock>
										{{billing_datas(company)}}
									</ng-template>
									<mat-form-field>
										<input matInput [(ngModel)]="company.taxnumber" formControlName="companyTaxnumber" placeholder="Adószám">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyTaxnumber'].valid && companyForm.controls['companyTaxnumber'].touched">
										Nem megfelelő adószám!
									</mat-error>
									<hr>
									<div *ngIf="!mail; else mailBlock">
										<h4>Levelezési adatok</h4>
										<mat-form-field>
											<input matInput type="text" [(ngModel)]="company.mail_name" formControlName="companyMailname" placeholder="Levelezési név">
										</mat-form-field>
										<mat-form-field>
											<mat-select formControlName="companyMailCountry" placeholder="Ország" [ngModel]="company.country_code" (ngModelChange)="company.mail_country = onChange($event)">
												<mat-option *ngFor="let country of companyService.getCountries()" [value]="country.code">
													{{country.country}}
												</mat-option>
											</mat-select>
										</mat-form-field>
										<mat-form-field>
											<input matInput [(ngModel)]="company.mail_zipcode" formControlName="companyMailZipcode" placeholder="Irányítószám">
										</mat-form-field>
										<mat-form-field>
											<input matInput type="text" [(ngModel)]="company.mail_settlement" formControlName="companyMailSettlement" placeholder="Település">
										</mat-form-field>
										<mat-error *ngIf="!companyForm.controls['companyMailSettlement'].valid && companyForm.controls['companyMailSettlement'].touched">
											Nem megfelelő település!
										</mat-error>
										<mat-form-field>
											<input matInput type="text" [(ngModel)]="company.mail_address" formControlName="companyMailAddress" placeholder="Cím">
										</mat-form-field>
										<hr>
									</div>
									<ng-template #mailBlock>
										{{mail_datas(company)}}
									</ng-template>
									<h4>Statisztikai adatok</h4>
									<mat-form-field>
										<mat-select formControlName="companyIndustry" placeholder="Iparág" [ngModel]="company.industry_id" (ngModelChange)="company.industry_id = onChange($event)">
											<mat-option *ngFor="let industry of companyService.getIndustries()" [value]="industry.id">
												{{industry.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field>
										<mat-select formControlName="companyEmployeesnum" placeholder="Alkalmazottak száma" [ngModel]="company.employeesnum_id" (ngModelChange)="company.employeesnum_id = onChange($event)">
											<mat-option *ngFor="let employeesnum of companyService.getEmployeesNums()" [value]="employeesnum.id">
												{{employeesnum.number}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field>
										<mat-select formControlName="companyYearlyincome" placeholder="Éves bevétel" [ngModel]="company.yearlyincome_id" (ngModelChange)="company.yearlyincome_id = onChange($event)">
											<mat-option *ngFor="let yearlyincome of companyService.getYearlyIncomes()" [value]="yearlyincome.id">
												{{yearlyincome.amount}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field>
										<input matInput type="number" [(ngModel)]="company.founded" formControlName="companyFounded" placeholder="Alapítva">
									</mat-form-field>
									<mat-error *ngIf="!companyForm.controls['companyFounded'].valid && companyForm.controls['companyFounded'].touched">
										Nem megfelelő évszám!
									</mat-error>
									<div class="row mx-2 mt-5">
										<div class="col-md-6 col-sm-4 col-0"></div>
										<div class="col-md-3 col-sm-4 col-6">
											<button class="btn btn-grey btn-block" (click)="navigateBack()">
												Mégse
											</button>
										</div>
										<div class="col-md-3 col-sm-4 col-6">
											<button type="submit" [disabled]="!companyForm.valid" class="btn btn-deep-orange deep-orange darken-4 btn-block">
												Mentés
											</button>
										</div>				
									</div>
								</form>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>