@import "../../../variables.scss";
@import "../../../default-styles.scss";

@media (max-width: 480px){
    a.nav-link{
        font-size: 0.6rem;
    }
    a.navbar-brand{
        font-size: 0.8rem;
    }
    .navbar-toggler-icon{
        font-size: 0.8rem;
    }
}

